<h1>Add new product</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="mb-3 row">
                <label for="productId" class="col-sm-4 col-form-label">Product Id</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="productId">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productId" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="productId">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productId" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="productId">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productId" class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="productId">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productId" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="productId">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="productId" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="productId">
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-outline-dark" [routerLink]="['../products']">Back to List</a>
            </div>
        </form>
    </div>
</div>
