<h1>Product Detail</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <dl class="row">
        <dt class="col-sm-3">
            Product Id
        </dt>
        <dd class="col-sm-9">
            {{ product.id }}
        </dd>
        <dt class="col-sm-3">
            Name
        </dt>
        <dd class="col-sm-9">
            {{ product.name }}
        </dd>
        <dt class="col-sm-3">
            Description
        </dt>
        <dd class="col-sm-9">
            {{ product.description }}
        </dd>
        <dt class="col-sm-3">
            Category
        </dt>
        <dd class="col-sm-9">
            {{ product.category }}
        </dd>
        <dt class="col-sm-3">
            Stock
        </dt>
        <dd class="col-sm-9">
            {{ product.stock }}
        </dd>
        <dt class="col-sm-3">
            Price
        </dt>
        <dd class="col-sm-9">
            {{ product.price | currency }}
        </dd>
    </dl>
    <div>
        <a class="btn btn-outline-primary" [routerLink]="['../', id, 'edit']" >Edit</a>&nbsp;
        <a class="btn btn-outline-danger" [routerLink]="['../', id, 'delete']" >Delete</a>
    </div>
  </div>
</div>
